<p>Dear <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>You have been assign as <%= @user.role %> role. And Your Password is <%= @user.password %></p>

<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>

<p>
Thank You,
ES Monitoring Application Team
</p>